<?php
$dbParams = [
    'driver'    => 'pdo_mysql',
    'host'      => getenv('MYSQL_HOST')     ?: '127.0.0.1',
    'port'      => 3306,
    'dbname'    => getenv('MYSQL_DATABASE') ?: 'test',
    'user'      => getenv('MYSQL_USER')     ?: 'user',
    'password'  => getenv('MYSQL_PASSWORD') ?: 'pass',
];

return [
    'db.params' => $dbParams,
];
